---
layout: default
title: Historie
header: Historie
---
{% assign vereinsgeschichte = site.data.historie | first %}
<div class="card mb-2">
    {% include card-header.html titel=vereinsgeschichte.titel icon=vereinsgeschichte.icon %}
    <div class="card-body">
        {{ vereinsgeschichte.inhalt }}
    </div>
</div>
<hr>
<div class="row row-cols-1 row-cols-md-2 g-2">
    {% for abschnitt in site.data.historie offset:1 %}
    <div class="col">
        <div class="card h-100">
            {% include card-header.html titel=abschnitt.titel icon=abschnitt.icon %}
            <div class="card-body">
                {{ abschnitt.inhalt }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
