---
layout: default
title: Impressum
header: Impressum
---
{% assign vorsitzende_1 = site.data.mitglieder | where_exp: "m", "m.rollen contains 'vorsitzender-1'" %}
{% assign vorsitzende_2 = site.data.mitglieder | where_exp: "m", "m.rollen contains 'vorsitzender-2'" %}
{% assign vorsitzende = vorsitzende_1 | concat: vorsitzende_2 %}
<h3>Pflichtangaben nach TMG</h3>
<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><i class="fa-solid fa-address-card"></i> Anschrift</h3>
                <hr>
                <address class="card-text mb-0">
                    <b>{{ site.contact.organisation }}</b><br>
                    {{ site.contact.address_line1 }}<br>
                    {{ site.contact.address_line2 }}<br>
                    E-Mail: <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
                </address>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><i class="fa-solid fa-user-tie"></i> Vertretungsberechtigte Vorst&auml;nde</h3>
                <hr>
                <p class="card-text mb-0">
                    {% for person in vorsitzende %}{{ person.name }}<br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <section class="imprint" id="grid" data-columns>
      {% for abschnitt in site.data.impressum %}{% include legal-section.html abschnitt=abschnitt %}
      {% endfor %}</section>
</div>
