---
layout: default
title: Impressum
header: Impressum
---
{% assign vorsitzende_1 = site.data.mitglieder | where_exp: "m", "m.rollen contains 'vorsitzender-1'" %}
{% assign vorsitzende_2 = site.data.mitglieder | where_exp: "m", "m.rollen contains 'vorsitzender-2'" %}
{% assign vorsitzende = vorsitzende_1 | concat: vorsitzende_2 %}
<h3>Pflichtangaben nach TMG</h3>
<div class="container-fluid g-2">
    <div class="clearfix mb-4 pflichtangaben-row">
        <div class="pflichtangaben-col">
            <div class="item">
                <div class="card h-100">
                    {% include card-header.html titel="Anschrift" icon="fa-address-card" %}
                    <div class="card-body">
                        <address class="card-text mb-0">
                            <b>{{ site.contact.organisation }}</b><br>
                            {{ site.contact.address_line1 }}<br>
                            {{ site.contact.address_line2 }}<br>
                            E-Mail: <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="pflichtangaben-col">
            <div class="item">
                <div class="card h-100">
                    {% include card-header.html titel="Vertretungsberechtigte Vorst&auml;nde" icon="fa-user-tie" %}
                    <div class="card-body">
                        <p class="card-text mb-0">
                            {% for person in vorsitzende %}{{ person.name }}<br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid g-2">
    <section class="imprint" id="grid" data-columns>
      {% for abschnitt in site.data.impressum %}{% include legal-section.html abschnitt=abschnitt %}
      {% endfor %}</section>
</div>
