---
layout: default
title: Start
header: Herzlich Willkommen beim Musikverein Hart e.V.
---
<!-- Intro Content -->
	<div class="col-md-7">
	    <!-- Flyer 
	    {% include flyer.html %}
        <hr>
        -->
        <!-- Special Flyer 
        {% include flyer-special.html %}
        <hr>
        -->
	    <!-- Der Verein -->
        {% include verein.html %}
        <hr>
	</div>
	<!--Left-->
    <div class="col-md-5">
        <!-- Konzertmeister-Termine -->
        {% include konzertmeister.html %}
        <hr>
        <!-- Social Media Buttons -->
        {% include social.html %}
    </div>
    <!--right-->