---
layout: default
title: Start
header: Herzlich Willkommen beim Musikverein Hart e.V.
---
<!-- Intro Content -->
<div class="row gy-4 gx-4">
	<div class="col-md-7">
	    <!-- Flyer-Werbung, nur im Zeitraum aus _data/flyer.yml sichtbar -->
        {% include flyer.html %}
	    <!-- Der Verein -->
        {% include verein.html %}
	</div>
	<!--Left-->
    <div class="col-md-5">
        <!-- Konzertmeister-Termine -->
        {% include termine.html %}
        <hr>
        <!-- Social Media Buttons -->
        {% include social.html %}
    </div>
    <!--right-->
</div>