---
layout: default
title: Kontakt
header: Kontakt
---
{% assign vorsitzender_1_rolle = site.data.vorstandschaft | where: "id", "vorsitzender-1" | first %}
{% assign jugendleitung_rolle = site.data.vorstandschaft | where: "id", "jugendleitung" | first %}
{% assign schriftfuehrer_rolle = site.data.vorstandschaft | where: "id", "schriftfuehrer" | first %}

{% assign vorsitzende_1 = site.data.mitglieder | where_exp: "m", "m.rollen contains 'vorsitzender-1'" %}
{% assign vorsitzende_2 = site.data.mitglieder | where_exp: "m", "m.rollen contains 'vorsitzender-2'" %}
{% assign vorsitzende = vorsitzende_1 | concat: vorsitzende_2 %}
{% assign jugendleitung = site.data.mitglieder | where_exp: "m", "m.rollen contains 'jugendleitung'" %}
{% assign schriftfuehrerin = site.data.mitglieder | where_exp: "m", "m.rollen contains 'schriftfuehrer'" %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title"><i class="fa-solid fa-user-tie"></i> Vorsitzende</h3>
                <hr>
            </div>
            <ul class="list-group list-group-flush">
                {% for person in vorsitzende %}<li class="list-group-item">{{ person.name }}</li>
                {% endfor %}</ul>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <a href="mailto:{{ vorsitzender_1_rolle.email }}" class="btn btn-outline-secondary"><i class="fa-solid fa-paper-plane"></i> E-Mail senden</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title"><i class="fa-solid fa-child"></i> Jugendleiter</h3>
                <hr>
            </div>
            <ul class="list-group list-group-flush">
                {% for person in jugendleitung %}<li class="list-group-item">{{ person.name }}</li>
                {% endfor %}</ul>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <a href="mailto:{{ jugendleitung_rolle.email }}" class="btn btn-outline-secondary"><i class="fa-solid fa-paper-plane"></i> E-Mail senden</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title"><i class="fa-solid fa-pen-nib"></i> Schriftführer</h3>
                <hr>
            </div>
            <ul class="list-group list-group-flush">
                {% for person in schriftfuehrerin %}<li class="list-group-item">{{ person.name }}</li>
                {% endfor %}</ul>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <a href="mailto:{{ schriftfuehrer_rolle.email }}" class="btn btn-outline-secondary"><i class="fa-solid fa-paper-plane"></i> E-Mail senden</a>
                </div>
            </div>
        </div>
    </div>
</div>
