---
layout: default
title: Die Kapelle
header: Unsere aktive Kapelle
---

<div class="container-fluid">
<div id="grid" data-columns>
{% for gruppe in site.data.register %}
<div class="item" id="{{ gruppe.instrument | slugify }}">
  <div class="card">
    {% include card-header.html titel=gruppe.instrument %}
    <img src="{{ gruppe.bild }}" class="card-img-top" loading="lazy" decoding="async" width="{{ gruppe.breite }}" height="{{ gruppe.hoehe }}">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% assign mitglieder = site.data.mitglieder | where: "register", gruppe.instrument %}
        {% for person in mitglieder %}<li class="list-group-item">{{ person.name }}</li>
        {% endfor %}</ul>
    </div>
  </div>
</div>
{% endfor %}</div>
</div>
