---
layout: default
title: Die Vorstandschaft
header: Die Vorstandschaft
---
<div class="card px-0">
    <div class="row">
        <div class="col-lg-8">
            <img class="w-100 h-100 object-fit-cover rounded-start" src="assets/media/register/04_Vorstandschaft 3.webp" loading="lazy" decoding="async" width="1047" height="753">
        </div>
        <div class="col-lg-4">
            <div class="card-body">
                {% for eintrag in site.data.vorstandschaft %}
                {% assign traeger = site.data.mitglieder | where_exp: "m", "m.rollen contains eintrag.id" %}
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ eintrag.rolle }}</h6>
                <p class="card-text">{% for person in traeger %}{{ person.name }}{% unless forloop.last %}{{ eintrag.trennzeichen }}{% endunless %}{% endfor %}</p>
                {% unless forloop.last %}<hr>
                {% endunless %}{% endfor %}
            </div>
        </div>
    </div>
</div>