---
layout: default
title: Datenschutz
---
<div class="container-fluid">
    <!-- disclaimer -->
    <section class="imprint" id="grid" data-columns>
      <!-- dislcaimer -->
      {% include legal/disclaimer.html %}
      <!-- imprint -->
      {% include legal/cookies.html %}
      <!-- logs -->
      {% include legal/logs.html %}
      <!-- rights -->
      {% include legal/rights.html %}
      <!-- ads -->
      {% include legal/ads.html %}
      <!-- ssl -->
      {% include legal/ssl.html %}
    </section>
</div>