<div class="item card">
  <img src='/assets/media/register/07_floete.jpg' class="card-img-top">
  <div class="card-body">
    <h3 class="card-title">Klarinette</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Clara Helmich</li>
      <li class="list-group-item">Lisa-Marie Heck</li>
      <li class="list-group-item">Tabea Fechter</li>
      <li class="list-group-item">Julia Biesinger</li>
      <li class="list-group-item">Sarah Junker</li>
      <li class="list-group-item">Nicole Weckerle</li>
    </ul>
  </div>
</div>