<div class="item card">
  <img src='/assets/media/register/08_Klarinette.jpg' class="card-img-top">
  <div class="card-body">
    <h3 class="card-title">Klarinette</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Claudia Klingler</li>
      <li class="list-group-item">Egidius Klingler</li>
      <li class="list-group-item">Corinna Stehle-T&ouml;mmes</li>
      <li class="list-group-item">Gertrud Wei&szlig;</li>
      <li class="list-group-item">Katja Weckerle</li>
      <li class="list-group-item">Katja Beiter</li>
      <li class="list-group-item">Joanna Mindreanu</li>
      <li class="list-group-item">Nina Hermanutz</li>
    </ul>
  </div>
</div>