<div class="wrapper-rounded">
    <h3>Social Media</h3>
    <hr>
    <div class="row no-gutters">
        <div class="col-sm-6">
            <a href="https://www.facebook.com/people/Musikverein-Hart-eV/100066495306368/" class="fa-brands fa-facebook" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div class="col-sm-6">
            <a href="https://www.instagram.com/musikverein_hart/" class="fa-brands fa-instagram" target="_blank" rel="noopener noreferrer"></a>
        </div>
    </div>
</div>