<div class="card">
    <div class="card-body">
    <h3 class="card-title">Social Media</h3>
    <hr>
    <div class="container">
    <div class="row">
        <div class="col">
            <a href="https://www.facebook.com/people/Musikverein-Hart-eV/100066495306368/" class="fa-btn fa-brands fa-facebook" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div class="col">
            <a href="https://www.instagram.com/musikverein_hart/" class="fa-btn fa-brands fa-instagram" target="_blank" rel="noopener noreferrer"></a>
        </div>
    </div>
    </div>
    </div>
</div>