<div class="card">
    <a href="/mitglieder"><img class="card-img-top" src="assets/media/00_Alle bearbeitet.webp"/></a>
    <div class="card-body">
	<h3 class="card-title">Der Verein</h3>
    <hr>
    <p class="card-text">Unser Musikverein besteht zurzeit aus 38&nbsp;aktiven, 82&nbsp;passiven, 17&nbsp;Ehrenmitglieder und 18&nbsp;Jungmusiker. Er hat sich zur Aufgabe gemacht das kulturelle Leben in unserem Ort zu gestalten und den Jugendlichen das erlernen eines Instrumentes zu erm&ouml;glichen. Die Kapelle trifft sich jeden Freitag zur Probe, um viele anspruchsvolle Werke der Blasmusik zu erarbeiten.</p>
    </div>
</div>