<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body class="light-bg-subtle">
    {% include navigation.html %}
    <!-- Content -->
    <div class="container mt-5 pt-5">
      <h2>{{ page.header }}</h2>
      <hr>
      <div class="row">
      {{ content }}
      </div>
      <hr>
      {% include footer.html %}
    </div>
    <!-- Content End -->
    <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/salvattore.js"></script>
    <script type="text/javascript" src="/assets/js/fontawesome.min.js"></script>
  </body>
</html>