<!DOCTYPE html>
<html lang="de">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    <!-- Content -->
    <div class="container mt-5 pt-5 bg-white">
      <h2>{{ page.header }}</h2>
      <hr>
      <div class="row">
      {{ content }}
      </div>
    </div>
    <!-- Content End -->
    {% include footer.html %}
    <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/salvattore.js"></script>
  </body>
</html>