<!DOCTYPE html>
<html lang="de">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    <!-- Content -->
    <div class="bg-white mt-5 py-5">
      <div class="container">
        <h2>{{ page.header }}</h2>
        <hr>
        <div class="row">
        {{ content }}
        </div>
      </div>
    </div>
    <!-- Content End -->
    {% include footer.html %}
    <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/salvattore.js"></script>
  </body>
</html>